{% extends 'twf/base/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="card">
        <div class="card-header bg-dark text-white">
            <h5 class="mb-0">Create New Collection</h5>
        </div>
        <div class="card-body">
            <p class="text-muted mb-3">Create a new collection to organize your project's content.</p>
            {% crispy form %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const dropdown = document.getElementById('id_creation_routine');
            const infoBox = document.getElementById('creationRoutineInfo');
    
            const infoText = {
                manual: {
                    "title": "Manual Creation",
                    "text": "An empty collection is created. Items must be added manually."},
                an_item_per_document: {
                    "title": "One Item per Document",
                    "text": "From each document, an item will be created. They can be manually edited."
                },
                an_item_per_page: {
                    "title": "One Item per Page",
                    "text": "From each page of a document, an item will be created. They can be manually edited."
                },
                structure_tag_based: {
                    "title": "Based on Structure Tags",
                    "text": "Items will be created based on the structure tags of the document. An item for each type will be created."
                }
            };
            
            // Update info box with the initial value
            const initialValue = dropdown.value;
            if (infoText[initialValue]) {
                infoBox.innerHTML = `
                    <p class="mb-0"><strong>${infoText[initialValue].title}</strong></p>
                    <p>${infoText[initialValue].text}</p>
                `;
            }
    
            dropdown.addEventListener('change', function () {
                const selectedValue = dropdown.value;
                infoBox.innerHTML = `
                    <p class="mb-0"><strong>${infoText[selectedValue].title}</strong></p>
                    <p>${infoText[selectedValue].text}</p>
                `;
            });
        });
    </script>
{% endblock %}