{% extends 'twf/base/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="card">
        <div class="card-header bg-dark text-white">
            <h5 class="mb-0">General Settings</h5>
        </div>
        <div class="card-body">
            <p class="text-muted mb-3">Change the general settings of the project.</p>
            {% crispy form %}
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {
        // Initialize Select2 on the specified fields
        $('#id_owner').select2();
        $('#id_members').select2();
    });
</script>
{% endblock %}