{% extends 'twf/base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load nav_tags %}

{% block content %}
    {% include 'twf/base/export_config_modal.html' %}
     <div class="parent-container">
         <p class="lead">Configure how your project is exported to JSON data.</p>
         {% crispy form %}
     </div>

    <!-- fake hidden button to trigger the modal -->
    <button type="button" id="confirmDangerActionTrigger"
            class="d-none show-danger-modal"
            data-message=""
            data-bs-toggle="modal"
            data-bs-target="#confirmDangerModal">
    </button>
{% endblock %}

{% block css %}
    <style>
    </style>
{% endblock %}

{% block script %}
    <script>
        const dbFields = {{ db_fields_json|safe }};
        const specialFields = {{ special_fields_json|safe }};
        const allDbFields = {{ all_db_fields_json|safe }};  // All fields available in all sections
        const metadataDocServices = {{ metadata_doc_services_json|safe }};
        const metadataDocFields = {{ metadata_doc_fields_json|safe }};
        const metadataPageServices = {{ metadata_page_services_json|safe }};
        const metadataPageFields = {{ metadata_page_fields_json|safe }};
    </script>
     <script src="{% static 'twf/js/export_config_editor.js' %}"></script>
{% endblock %}